<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/about">about me</a></li>
            <li><a href="/edu">my education</a></li>
            <li><a href="/story">my story</a></li>
        </ul>
    </nav>
</header>

<main>
    {{{body}}}
</main>

</body>
</html>