<p>I am {{data.name}}. I am 12 years old. I was born in China and now I am in US</p>
<p>{{data.biography}}</p>
<ol>
    {{#each data.favoriteShows}}
        <li>{{this}}</li>
    {{/each}}
</ol>
<ul>
    {{#each data.hobbies}}
        <li>{{this}}</li>
    {{/each}}
</ul>